// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (C) 2022 Arm Ltd.

#include <dt-bindings/interrupt-controller/irq.h>

/dts-v1/;

#include "sun8i-t113s.dtsi"
#include "sunxi-d1s-t113-mangopi-mq-r.dtsi"

/ {
	model = "raft-ep-neon-va T113s";
	compatible = "widora,mangopi-mq-r-t113", "allwinner,sun8i-t113s";

	aliases {
                serial0 = &uart0;
	};

        chosen {
               stdout-path = "serial0:115200n8";
        };
};

&cpu0 {
	cpu-supply = <&reg_vcc_core>;
};

&cpu1 {
	cpu-supply = <&reg_vcc_core>;
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pe_pins>;
	status = "okay";
};

&mmc0 {
      /delete-property/ cd-gpios;
};

&mmc1 {
	status = "disable";
};

&pio {
        rgmii_pg_pins: rgmii-pg-pins {
                pins = "PG0", "PG1", "PG2", "PG3", "PG4",
                "PG5", "PG6", "PG7", "PG8", "PG9", "PG10",
                "PG11", "PG12", "PG13", "PG14", "PG15";
                function = "emac";
        };
};


&emac {
	compatible = "allwinner,sun50i-h6-emac";
	pinctrl-0 = <&rgmii_pg_pins>;
	pinctrl-names = "default";
	clocks = <&ccu CLK_BUS_EMAC>, <&ccu CLK_EMAC_25M>;
	clock-names = "stmmaceth", "pclk";
	phy-mode = "rgmii-rxid";
	phy-handle = <&phy0>;
	allwinner,tx-delay-ps = <300>;
	status = "okay";
};

&mdio {
	phy0: ethernet-phy@0 {
		reg=<0>;
		motorcomm,clk-out-frequency-hz = <125000000>;
		motorcomm,auto-sleep-disabled;
		motorcomm,keep-pll-enabled;
		rx-internal-delay-ps = <1050>;
      };

};
